body {
    margin: 0;
}

.duckContainer {
    position: relative;
    border: solid 2px red;
    height: 596px;
}

.duck {
    position: absolute;
    width: 140px;
    height: 140px;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 100px;
    position: absolute;
}

.center {
    text-align: center;
}